# exclude files
.*
*~
*.obj
*/*.obj
*.dat
*/*.dat
*/*/*.dat
*/*.dat
*/*.out
*.txt
*/*.txt
*/*/*.txt
*/*.o
*/*/*.o
*/*.pyc
*.pyc
__pycache__/
*/__pycache__/
Encoder/src/rawdata
Encoder/Beaglebone/*.bin
Encoder/Beaglebone/*.elf
Encoder/Beaglebone/*.map
Encoder/Beaglebone/Beaglebone_Encoder_DAQ
GravitySensor/testing/datastrage
misc/usbrh/usbrh
aho*
test*
!*/*/*/testing/
!*/*/testing/
!*/testing/
!*/*/*/testing/*.py
!*/*/testing/*.py
!*/testing/*.py
!*/test.py
!test.py
log/*
*/log/*
*/*/log/*

!.gitignore
!.git
!*/test.py
!test.py
!*/testing/
!*/*/testing/
!*.py
!*/*.py
!*/*/*.py

