# exclude files
.*
*~
*.obj
*/*.obj
*.dat
*/*.dat
*/*.out
*/*.o
*/*/*.o
*/*.pyc
*.pyc
__pycache__/
*/__pycache__/
Encoder/src/rawdata
Encoder/Beaglebone/*.bin
Encoder/Beaglebone/*.elf
Encoder/Beaglebone/*.map
Encoder/Beaglebone/Beaglebone_Encoder_DAQ
aho*
test*
!*/*/*/testing/
!*/*/testing/
!*/testing/
!*/*/*/testing/*.py
!*/*/testing/*.py
!*/testing/*.py
!*/test.py
!test.py
log/*
*/log/*
*/*/log/*

!.gitignore
!.git
!*/test.py
!test.py
!*/testing/
!*/*/testing/
!*.py
!*/*.py
!*/*/*.py

